[submodule "libraries/Adafruit_GPS"]
	path = libraries/Adafruit_GPS
	url = git://github.com/adafruit/Adafruit-GPS-Library.git
[submodule "libraries/Adafruit_BMP085"]
	path = libraries/Adafruit_BMP085
	url = git://github.com/adafruit/Adafruit-BMP085-Library.git
